@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";


body {
    background-color: black;
    color: white;
    min-height: 100vh; /* Assure que le body fait au moins la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
}

/* Style de la navigation */
nav {
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 3px solid #242424; 
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox pour alignement */
    align-items: center; /* Centre les items verticalement */
}

a {
    color:#ffffff;
}
nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem 0; /* Ajuste la hauteur des <li> */
    position: relative;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    padding: 10px;
}

nav li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #37FF8B;
    transition: width 0.5s;
    z-index: -1;
    

}

nav li:hover::before {
    width: 100%;
    
}

nav li:hover {
    color: white; /* Couleur du texte pendant le hover */
    
}

.conteur{
    font-size: 3rem;
    font-weight: 500; /* Utilise simplement 400 sans unité */
}
.question{
    font-size: 2rem;
    border-bottom: 3px solid #242424;
}

.screen{
    margin:14rem;
}
.block{
    border:3px solid #242424;
    border-radius: 7px;
    padding:1rem
}

.bouton {
    border: 3px solid #242424;
    border-radius: 7px;
    padding: 2rem;
    margin:2rem;
    text-align: center;
    width: 300px;
}
.bouton1 {
    border: 3px solid #242424;
    border-radius: 7px;
    padding: 1rem;
    margin:1rem;
    text-align: center;
}

.bouton1:hover {
    background-color: #053913;
}

.bouton:hover {
    background-color: #5d5d5d;
}
.bouton.active {
    background-color: #454545; /* Couleur de fond lorsqu'un bouton est actif */
    color: white; /* Couleur du texte pour plus de visibilité */
}

.image-fond{
    width: 110%;
}

.titre{
  font-size: 25px;
  font-weight: 700;
  color: white;
  border-left: white 8px solid;
  padding-left: 10px;
  margin: 0.67em 0;
    
}

p{
    font-size: large;
    font-weight: 500;
}